.others-complete{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.titulos{
    margin-left: 50px;
}